{{ define "main" -}}
<div class="posts">

{{ range where .Data.Pages "Section" "projects" -}}
<article class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <p>{{ .Params.description }}</p>
  {{ range .Params.links -}}
    <p><i class="fa fa-external-link link-icon"></i><a href="{{ .url }}">{{ .name }}</a></p>
  {{ end }}
  {{ range .Params.pdfs -}}
  <p><i class="fa fa-file-pdf-o link-icon"></i><a href="{{ .url }}">{{ .name }}</a></p>
  {{ end }}
  {{ range .Params.posts -}}
    <p><i class="fa fa-medium link-icon"></i><a href="{{ .url }}">{{ .name }}</a></p>
  {{ end }}
  <img width=400px src="{{ .Params.image }}">
</article>
{{- end }}

<h1>Jobs</h1>
{{ range where .Data.Pages "Section" "jobs" -}}
<article class="post">
  <p><i class="fa fa-external-link link-icon"></i><a href="{{ .Params.external_url }}">{{ .Title }}</a></p>
</article>
{{- end }}

<h1>Publications</h1>
{{ range where .Data.Pages "Section" "pubs" -}}
<article class="post">
  <p><i class="fa fa-file-pdf-o link-icon"></i><a href="{{ .Params.external_url }}">{{ .Title }}</a></p>
</article>
{{- end }}

</div>
{{- end }}
