
{{ partial "header.html" . }}

<style>
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
</style>

<body
  lang="{{ .Site.LanguageCode }}"
>
  <span class="b">/ </span>
  <h3 style="display: inline-block;">
  <a
    href="/"
    >{{ .Site.Title  }}</a
  > / microblog
  </h3>

  {{ $paginator := .Paginate (where .Data.Pages "Type" "micro") }}

  <section>
    {{ range $paginator.Pages }}
    <hr/>
    <div style="margin:40px 0">
        <a
          href="{{ .RelPermalink}}"
            ><small>{{ .Date.Format "2006-01-02" }}</small></a
        >
      <p>
        {{ .Content }}
      </p>
      <!-- prettier-ignore -->
    </div>
    {{ end }}
  </section>

  <hr style="margin-bottom: 40px"/>

  {{ template "_internal/pagination.html" . }}

  {{ partial "footer.html" . }}

  </body>
</html>